@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.project-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    align-items: center;
    height: 100vh;
    width: 20rem;
    background-color: #e3e3e3;
    font-family: 'ralewaythin', sans-serif;
    text-align: center;
}

.project-btn-cont {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn {
    padding: 0.5rem 0;
    width: 7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'ralewaythin';
    color: white;
}

.add-btn {
    background-color: rgb(13, 207, 13);
}

.delete-btn {
    background-color: rgb(222, 15, 15);
}

.project-btn:hover {
    border: 1px solid black;
}

.task-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 2rem;
    gap: 1rem;
    font-family: 'ralewaythin';
    position: relative;
}

.task-btn-cont {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.toggle-project-btn {
    margin-left: -3rem;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 100%;
    position: fixed;
    top: 50vh;
    background-color: gray;
    cursor: pointer;
}

.toggle-project-btn:hover {
    border: 2.5px solid black;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.clicked {
    border: 2px solid black;
}

.task:hover {
    border: 2px solid black;
}

.task button {
}

.project {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 90%;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.project:hover {
    border: 1px solid black;
}
